<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/basics-drag-and-drop.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <div class="container">
    <section class="drag-vehicle">
      <ul class="vehicles">
        <li>
          <!-- img elements don't need a draggable attribute -->
          <img id="Tigerhai" alt="Tigerhai" src="../../resources/binary/sharks/tigershark.png"/>
        </li>
        <li>
          <img id="Sägehai" alt="Sägehai" src="../../resources/binary/sharks/sawshark.png">
        </li>
        <li>
          <img id="Wahlhai" alt="Wahlhai" src="../../resources/binary/sharks/whale_shark.png">
        </li>
        <li>
          <img id="Hammerhai" alt="Hammerhai" src="../../resources/binary/sharks/hammershark.png">
        </li>
		<li>
          <img id="Weißer Hai" alt="Weißer Hai" src="../../resources/binary/sharks/great_shark.png">
        </li>
      </ul>
    </section>
    <br/>
    <section class="drop-zones">
      <ul>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Weißer Hai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Hammerhai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Sägehai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Walhai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Tigerhai</p>
        </li>
      </ul>
    </section>
  </div>
  <script type="application/javascript" src="../../resources/js/basics-drag-and-drop.js"></script>
</body>