<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/basics-drag-and-drop.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <div class="container">
    <section class="drag-vehicle">
      <ul class="vehicles">
        <li>
          <!-- img elements don't need a draggable attribute -->
          <img id="fire-truck" alt="fire truck" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Ftruck-clip-art-fire-truck4.png?1519011787956"/>
        </li>
        <li>
          <img id="ambulance" alt="ambulance" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fambulance5.png?1519011787610">
        </li>
        <li>
          <img id="car" alt="car" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fcar-20clip-20art-1311497037_Vector_Clipart.png?1519011788408">
        </li>
        <li>
          <img id="bike" alt="bicycle" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fbicycle-20clip-20art-bicycle3.png?1519011787816">
        </li>
      </ul>
    </section>
    <br/>
    <section class="drop-zones">
      <ul>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Haiart 1</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Haiart 2</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Haiart 3</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Haiart 4</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper"></span>
          </div>
          <p>Haiart 5</p>
        </li>
      </ul>
    </section>
  </div>
  <script type="application/javascript" src="../../resources/js/basics-drag-and-drop.js"></script>
</body>