<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/basics-drag-and-drop.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta charset="utf-8"/>
</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <h1>Kannst Du die Haiarten mit ihren Namen verbinden?</h1>
  <br>
  <br>
  <br>
 
	<br>
	<button type="button" style="display: none;" id="gewonnenButton" class="btn btn-secondary btn-lg btn-block" onclick="window.location.href='./../prototype/sharkgame.html'">Gewonnen! Klicke hier, um zum Ernährungsspiel zu gelangen!</button>


  <div class="cont">
    <section class="drag-shark">
      <ul class="sharks">
        <li>
          <!-- img elements don't need a draggable attribute -->
          <img id="Tigerhai" alt="Tigerhai" src="../../resources/binary/sharks/tigershark.PNG"/>
        </li>
        <li>
          <img id="Sägehai" alt="Sägehai" src="../../resources/binary/sharks/sawshark.PNG">
        </li>
        <li>
          <img id="Walhai" alt="Walhai" src="../../resources/binary/sharks/whale_shark.PNG">
        </li>
        <li>
          <img id="Hammerhai" alt="Hammerhai" src="../../resources/binary/sharks/hammershark.PNG">
        </li>
		<li>
          <img id="Weißer Hai" alt="Weißer Hai" src="../../resources/binary/sharks/great_shark.PNG">
        </li>
      </ul>
    </section>
    <br/>
    <section class="drop-zones">
      <ul>
        <li>
          <div class="drop-zone">
            <span class="spanhelper" style="display: none;">Weißer Hai</span>
          </div>
          <p>Weißer Hai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper" style="display: none;">Hammerhai</span>
          </div>
          <p>Hammerhai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper" style="display: none;">Sägehai</span>
          </div>
          <p>Sägehai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper" style="display: none;">Walhai</span>
          </div>
          <p>Walhai</p>
        </li>
        <li>
          <div class="drop-zone">
            <span class="spanhelper" style="display: none;">Tigerhai</span>
          </div>
          <p>Tigerhai</p>
        </li>
      </ul>
    </section>
  </div>
<!-- Modal -->

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0 none">
          <h5 class="modal-title" id="infoModalLongTitle">Weißer Hai</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
		
          <img id="sharkimage" src="../../resources/binary/img/White_shark.jpg" style="float:left; margin-right: 10px;" alt="">
		  <span id="text"> </span>

        </div>
        <div class="modal-footer" style=" border-top: 0 none">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #6aa84f">OK</button>
        </div>
      </div>
    </div>
  </div>
  <script type="application/javascript" src="../../resources/js/basics-drag-and-drop.js"></script>
  <!--style="margin:0 auto;" HAMMERHEAD   <a title="Kris Mikael Krister / CC BY (https://creativecommons.org/licenses/by/3.0)" href="https://commons.wikimedia.org/wiki/File:Scalloped_Hammerhead_Shark_Sphyrna_Lewini_(226845659).jpeg"><img width="512" alt="Scalloped Hammerhead Shark Sphyrna Lewini (226845659)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Scalloped_Hammerhead_Shark_Sphyrna_Lewini_%28226845659%29.jpeg/512px-Scalloped_Hammerhead_Shark_Sphyrna_Lewini_%28226845659%29.jpeg"></a> -->
  <!-- SAWFISH      <a title="Flavia Brandi from Roma, Italy / CC BY-SA (https://creativecommons.org/licenses/by-sa/2.0)" href="https://commons.wikimedia.org/wiki/File:Sawfish_genova2.jpg"><img width="512" alt="Sawfish genova2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Sawfish_genova2.jpg/512px-Sawfish_genova2.jpg"></a> -->
  <!-- WHALE SHARK  <a title="istolethetv / CC BY (https://creativecommons.org/licenses/by/2.0)" href="https://commons.wikimedia.org/wiki/File:Whale_Shark_diagonal.jpg"><img width="512" alt="Whale Shark diagonal" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Whale_Shark_diagonal.jpg/512px-Whale_Shark_diagonal.jpg"></a> -->
  <!-- TIGER SHARK  <a title="Albert kok / CC BY-SA (https://creativecommons.org/licenses/by-sa/3.0)" href="https://commons.wikimedia.org/wiki/File:Tiger_shark.jpg"><img width="512" alt="Tiger shark" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Tiger_shark.jpg/512px-Tiger_shark.jpg"></a> -->
  <!-- TODO bg fix revert major changes -->
</body>