<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/sharkgame.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <h1>Die Ern&auml;hrung von Haifischen</h1>
<img id="shark" 
src="../../resources/binary/sharks/great_shark.PNG" alt="shark">
<p align="center">
<canvas id="game" width="800" height="500"
style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
</p>
<script type="application/javascript" src="../../resources/js/sharkgame.js"></script>
</body>