<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/sharkgame.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta charset="utf-8"/>

</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <h1>Die Ern&auml;hrung von Haifischen</h1>
<img id="shark" src="../../resources/binary/sharks/great_shark.svg" alt="shark">
<img id="anchar" src="../../resources/binary/objects/ancahar.svg" alt="anchar">
<img id="bottle" src="../../resources/binary/objects/bottle.svg" alt="bottle">
<img id="rock" src="../../resources/binary/objects/brown_rock.svg" alt="rock">
<img id="danger" src="../../resources/binary/objects/danger.svg" alt="danger">
<img id="diver" src="../../resources/binary/objects/diver.svg" alt="diver">
<img id="dolphin" src="../../resources/binary/objects/dolphin.svg" alt="dolphin">
<img id="blue_fish" src="../../resources/binary/objects/fish_aqua.svg" alt="blue fish">
<img id="green_fish" src="../../resources/binary/objects/fish_green.svg" alt="green fish">
<img id="orange_fish" src="../../resources/binary/objects/fish_orange.svg" alt="green fish">
<img id="octopus" src="../../resources/binary/objects/octopus.svg" alt="octopus">
<img id="plankton" src="../../resources/binary/objects/plankton.svg" alt="plankton">
<img id="plankton_blue" src="../../resources/binary/objects/plankton_blue.svg" alt="plankton_blue">
<img id="plantation_orange" src="../../resources/binary/objects/plantation_orange.svg" alt="plantation_orange">
<img id="plantation_pink" src="../../resources/binary/objects/plantation_pink.svg" alt="plantation_pink">
<img id="seahorse_green" src="../../resources/binary/objects/seahorse_green.svg" alt="seahorse_green">
<img id="seahorse_pink" src="../../resources/binary/objects/seahorse_pink.svg" alt="seahorse_pink">
<img id="seal" src="../../resources/binary/objects/seal.svg" alt="seal">
<img id="seaturtle" src="../../resources/binary/objects/seaturtle.svg" alt="seaturtle">
<img id="see" src="../../resources/binary/objects/see.svg" alt="see">
<img id="starfish_orange" src="../../resources/binary/objects/starfish_orange.svg" alt="starfish_orange">
<img id="surfer" src="../../resources/binary/objects/surfer.svg" alt="surfer">
<img id="treasure" src="../../resources/binary/objects/treasure.svg" alt="treasure">
<img id="vegetation_spiky" src="../../resources/binary/objects/vegetation_spiky.svg" alt="vegetation_spiky">

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0 none">
          <h5 class="modal-title" id="infoModalLongTitle">Weißer Hai</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="continueGame();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
		
          <img id="sharkimage" src="../../resources/binary/img/White_shark.jpg" style="float:left; margin-right: 10px;" alt="">
		  <span id="text"> </span>

        </div>
        <div class="modal-footer" style=" border-top: 0 none">
          <button id="continue" type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #6aa84f">OK</button>
        </div>
      </div>
    </div>
  </div>

<p align="center">
<canvas id="game" width="800" height="500"
style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
</p>
<script type="application/javascript" src="../../resources/js/sharkgame.js"></script>
</body>