<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/sharkgame.css"/>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta charset="utf-8"/>

</head>

<body>
  <div class="top">
    <a href="../../index.html" class="btn btn-primary" style="margin: 1em;"><i class="fa fa-home"></i> Home</a>
  </div>
  <h1>Die Ern&auml;hrung von Haifischen</h1>
<img id="shark" src="../../resources/binary/sharks/great_shark.svg" alt="shark">
<img id="whale" src="../../resources/binary/sharks/whale_shark.svg" alt="whale_shark">
<img id="anchar" src="../../resources/binary/objects/ancahar.svg" alt="anchar">
<img id="bottle" src="../../resources/binary/objects/bottle.svg" alt="bottle">
<img id="rock" src="../../resources/binary/objects/brown_rock.svg" alt="rock">
<img id="danger" src="../../resources/binary/objects/danger.svg" alt="danger">
<img id="diver" src="../../resources/binary/objects/diver.svg" alt="diver">
<img id="dolphin" src="../../resources/binary/objects/dolphin.svg" alt="dolphin">
<img id="blue_fish" src="../../resources/binary/objects/fish_aqua.svg" alt="blue fish">
<img id="green_fish" src="../../resources/binary/objects/fish_green.svg" alt="green fish">
<img id="orange_fish" src="../../resources/binary/objects/fish_orange.svg" alt="green fish">
<img id="octopus" src="../../resources/binary/objects/octopus.svg" alt="octopus">
<img id="plankton" src="../../resources/binary/objects/plankton.svg" alt="plankton">
<img id="plankton_blue" src="../../resources/binary/objects/plankton_blue.svg" alt="plankton_blue">
<img id="plantation_orange" src="../../resources/binary/objects/plantation_orange.svg" alt="plantation_orange">
<img id="plantation_pink" src="../../resources/binary/objects/plantation_pink.svg" alt="plantation_pink">
<img id="seahorse_green" src="../../resources/binary/objects/seahorse_green.svg" alt="seahorse_green">
<img id="seahorse_pink" src="../../resources/binary/objects/seahorse_pink.svg" alt="seahorse_pink">
<img id="seal" src="../../resources/binary/objects/seal.svg" alt="seal">
<img id="seaturtle" src="../../resources/binary/objects/seaturtle.svg" alt="seaturtle">
<img id="see" src="../../resources/binary/objects/see.svg" alt="see">
<img id="starfish_orange" src="../../resources/binary/objects/starfish_orange.svg" alt="starfish_orange">
<img id="surfer" src="../../resources/binary/objects/surfer.svg" alt="surfer">
<img id="treasure" src="../../resources/binary/objects/treasure.svg" alt="treasure">
<img id="vegetation_spiky" src="../../resources/binary/objects/vegetation_spiky.svg" alt="vegetation_spiky">
<img id="circleSmall" src="../../resources/binary/sharks/sharkCircleSmall.svg" alt="circleS">
<img id="circleBig" src="../../resources/binary/sharks/sharkCircleBig.svg" alt="circleB">

  <div class="modal fade in" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0 none">
          <h5 class="modal-title" id="infoModalLongTitle">Weißer Hai</h5>
          <!--button type="button" id="exit" class="close" data-dismiss="modal" aria-label="Close" onclick="continueGame();">
            <span aria-hidden="true">&times;</span>
          </button-->
        </div>
        <div class="modal-body">
		
          <img id="sharkimage" src="../../resources/binary/img/White_shark.jpg" style="float:left; margin-right: 10px;" alt="">
		  <span id="text"> </span>

        </div>
        <div class="modal-footer" style=" border-top: 0 none">
          <button id="continue" type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="introductionModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div id="introduction-modal-header" class="modal-header" style="border-bottom: 0 none">
          <h5 class="modal-title" id="introTitle">Spieleanleitung</h5>
          <!--button type="button" id="exit" class="close" data-dismiss="modal" aria-label="Close" onclick="continueGame();">
            <span aria-hidden="true">&times;</span>
          </button-->
        </div>
        <div id="introduction-modal-body" class="modal-body">



          <div id="introductioncarousel" data-interval="false" data-wrap="false" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../resources/binary/img/screenshot.JPG" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Hai-Ernährungsspiel</h5>
                  <p>In diesem Spiel steuerst du einen hungrigen Hai, der auf der Suche nach Nahrung ist. 
                    Wenn Du es schaffst, dass dein Hai bis zum Ziel nicht verhungert, gewinnst Du!</p>
                </div>
              </div>
              <div class="carousel-item" style="text-align: center;">
                <br/>
                <img src="../../resources/binary/sharks/great_shark.svg" alt="shark" style="height: 250px;">
                <br/>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Bewegung</h5>
                  <p>Benutze die Pfeiltasten um den Hai nach oben bzw. unten zu steuern, damit Du deine Beute erwischt!
                    Tipp: Drücke öfters hintereinander die Tasten, um ein gespür für die Bewegung zu erhalten, nicht jeder 
                    Hai steuert sich gleich schnell.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div id="intro-step-3-container">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/dolphin.svg" alt="dolphin">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/fish_aqua.svg" alt="blue fish">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/octopus.svg" alt="octopus">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/plankton.svg" alt="plankton">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/plankton_blue.svg" alt="plankton_blue">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/plantation_orange.svg" alt="plantation_orange">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/seahorse_pink.svg" alt="seahorse_pink">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/seal.svg" alt="seal">
                  <img class="intro-step-3-svg" src="../../resources/binary/objects/seaturtle.svg" alt="seaturtle">
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Beute</h5>
                  <p>Je nachdem, welchen Hai Du gerade spielst, musst Du die richtige Beute erwischen, um zu überleben!</p>
                </div>
              </div>
              <div class="carousel-item">
                <div id="intro-step-4-container">
                  <img class="intro-step-4-svg step-4-shark" src="../../resources/binary/sharks/great_shark.svg" alt="shark">
                  <img class="intro-step-4-svg" src="../../resources/binary/objects/fish_aqua.svg" alt="blue fish">
                  <img class="intro-step-4-svg" src="../../resources/binary/objects/seaturtle.svg" alt="seaturtle">
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Der weiße Hai</h5>
                  <p>Hier zwei Meereslebewesen die zu der Beute des weißen Hai gehören. Finde während des Spiels heraus, welche noch dazugehören.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div id="intro-step-5-container">
                  <img class="intro-step-5-svg step-5-shark" src="../../resources/binary/sharks/whale_shark.svg" alt="whale_shark">
                  <img class="intro-step-5-svg" src="../../resources/binary/objects/seahorse_pink.svg" alt="seahorse_pink">
                  <img class="intro-step-5-svg" src="../../resources/binary/objects/plankton.svg" alt="plankton">
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Der Walhai</h5>
                  <p>Hier zwei Meereslebewesen die zu der Beute des Walhai gehören. Finde während des Spiels heraus, welche noch dazugehören.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#introductioncarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introductioncarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>



        </div>
        <div id="introduction-modal-footer" class="modal-footer" style=" border-top: 0 none">
          <button id="continue2" type="button" class="btn btn-dark" disabled="true" data-dismiss="modal">Spiel starten!</button>
        </div>
      </div>
    </div>
  </div>

<p align="center">
<canvas id="game" width="800" height="500"
style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
</p>
<script type="application/javascript" src="../../resources/js/sharkgame.js"></script>
</body>
</html>

