<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="../../resources/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>

    <script type="application/javascript" src="../../resources/js/theoretical-input.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/theoretical-input.css"/>

    <title>'Chaptername'</title>
</head>
<body>
    <div style="padding: 2em">
        <h1>'Chaptername' -- thoretical input page</h1>
        <br/>
        <button onclick="nextline_onclick()" class="btn btn-primary">Next Line</button>
        <button onclick="reset_onclick()" class="btn btn-secondary">Reset</button>
        <br/>
        <br/>

        <div id="input">
            <p id="line1">Line 1</p>
            <p id="line2" class="content_blur">Blurry Line2</p>
            <p id="line3" class="content_blur">Blurry Line3</p>
            <p id="line4" class="content_blur">Blurry Line4</p>
        </div>
    </div>
</body>
</html>