ul {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}
ul li {
  list-style-type: none;
  display:inline-block;
}
img {
  cursor: pointer;
  width: 200px;
}

body{
	background-color: #6aa84f !important;;
	}
h1{
	text-align: center ;
	color: white;
	font-family: 'Comfortaa';
}
p{
	font-family: 'Comfortaa';
		color: white;

}
.container {
  height: 100%;
  vertical-align: middle;
}
.drop-zone {
  border-radius:7px;
  text-align: center;
  margin: 30px;
  width: 150px;
  height: 125px;
  overflow: hidden;
  background: #b6d7a8;
  color: white;
  box-shadow: 0 20px 1px rgb(255, 255, 255);
}

.drop-zones {
  height: 200px;
  width: 100%;
}
.sharks {
  height: 200px;
  width: 100%;
  margin-top: 10em;
}

img {
  vertical-align: middle;
  max-width: 140px;
  max-height: 115px;
}

.spanhelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}